body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    margin: 12px;
}

#book-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 48px;
}

#book-container p {
    background-color: rgb(255, 218, 185);
    border-radius: 15px;

    font-size: x-large;
    padding: 50px;
    line-height: 2.4;
}

p input {
    position: relative;
}
